/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* GENERAL */

html {
  line-height: 1.8;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';

  /* Disable selection */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* LINKS */

a {
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: unset;
}