/* GENERAL */

body {
  position: relative;
}

/* HEADER */

header {
  height: 60vh;
  background-image: url('../images/background-cover.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#intro {
  width: 100%;
  text-align: center;
  padding: 20px;
}

/* NAVIGATION BAR */

nav {
  background-color: #f0f0f0;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-item {
  display: block;
  margin: 0px;
  line-height: 100%;
  padding: 15px 20px;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  nav {
    flex-direction: row;
    justify-content: center;
    position: sticky;
  }

  .nav-item {
    text-align: left;
  }
}

/* STICKY SPACING */

@media only screen and (min-width: 700px) {
  section::before {
    content: "";
    display: block;
    height: 45px;
  }
}

/* ELEMENTS */

article {
  max-width: 1200px;
  margin: 0px auto;
}

.part-title {
  margin: 0px;
}

.part-box {
  box-sizing: border-box;
  padding: 20px;
}

.box-shadow {
  border: 1px solid #e2e2e2;
  box-shadow: #f2f2f2 2px 2px 4px;
  box-sizing: border-box;
  padding: 10px 20px 5px;
  margin: 20px;
}

.skill-title {
  margin: 0px;
  margin-bottom: -10px;
  padding-left: 20px;
}